<!DOCTYPE html>
<html>

<head>
    <title>Top 50 Chart</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .new-entry {
            background-color: #c4ffcf;
        }

        .arrow-up {
            color: green;
        }

        .arrow-down {
            color: red;
        }

        .arrow-new {
            color: blue;
        }
    </style>
</head>

<body>
    <h1>Top 50 Chart</h1>
    <table>
        <tr>
            <th>Position</th>
            <th>Track Name</th>
            <th>URL</th>
            <th>SPOTIFY SEARCH</th>
            <th>SPOTIFY URL</th>
            <th>COMPETITOR</th>
            <th>COMPETITOR LINK</th>
        </tr>
        {% for entry in chart %}
        <tr>
            <td>{{ entry.current_position }}
                {% if entry.indicator > 0 %}
                <span class="arrow-up"> +{{ entry.indicator }}</span>
                {% elif entry.indicator < 0 %} <span class="arrow-down">{{ entry.indicator }}</span>
                {% elif entry.indicator == 0 %} <span class="arrow-new"></span>
                    {% else %}
                    <span class="arrow-new">new</span>
                    {% endif %}
            </td>

            <td>{{ entry.title }}</td>
                        <td>
                            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1264213483&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                            <div
                                style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                                <a href="https://soundcloud.com/6arcc" title="6arcc" target="_blank"
                                    style="color: #cccccc; text-decoration: none;">6arcc</a> · <a href="https://soundcloud.com/6arcc/pre-mix-pt-3"
                                    title="Pre Mix PT 3" target="_blank" style="color: #cccccc; text-decoration: none;">Pre Mix PT 3</a></div>
                        </td>
            <td>{{ entry.spot_name }}</td>
            <td>{{ entry.spot_url }}</td>
            <td>{{ entry.comp_name }}</td>
            <td>{{ entry.comp_url }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>